#PLUGIN_COMM_FILTER {
  display: flex;
  align-items: center;
  padding: 0 0.5ex;
}

#chat:not(.expand)>#PLUGIN_COMM_FILTER {
    position: absolute;
    right: 30px;
    width: 30%;
    z-index: 1;
    background: rgba(8, 48, 78, 0.9);
}

#chat:not(.expand)>#PLUGIN_COMM_FILTER>.switchgroup {
    display: none;
}

#chat:not(.expand) {
    padding-bottom: 0;
}

#chat {
  padding-bottom: 26px;
}

#PLUGIN_COMM_FILTER .title {
  height: 26px;
  padding-right: 0.5ex;
  flex: none; /* for Android K WebView */
  display: inline-flex;
  align-items: center;
}

#PLUGIN_COMM_FILTER>select {
  margin: 0 1ex;
}

#PLUGIN_COMM_FILTER>.switchgroup {
  overflow-x: auto;
  align-self: stretch;
  display: inline-flex;
  align-items: center;
}

#PLUGIN_COMM_FILTER .switch {
  white-space: nowrap;
  margin-left: 1.2ex;
  flex: none; /* for Android K WebView */
  display: inline-flex;
  align-items: center;
  padding: 0.5ex 0;
}

#PLUGIN_COMM_FILTER>input[name=agents_or_portals] {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  width: 16ex;
}

#PLUGIN_COMM_FILTER>input[name=agents_or_portals]:focus~.switchgroup {
  display: none;
}

#PLUGIN_COMM_FILTER>button {
  padding: 2px;
  min-width: 40px;
  color: #FFCE00;
  border: 1px solid #FFCE00;
  background-color: rgba(8, 48, 78, 0.9);
  text-align: center;
}

#chatall>.status, #chatfaction>.status, #chatalerts>.status {
  height: 20px;
  text-align: center;
  font-style: italic;
}

#chatall>table, #chatfaction>table, #chatalerts>table {
  table-layout: auto;
}

#chatall>table td:nth-child(2),
#chatfaction>table td:nth-child(2),
#chatalerts>table td:nth-child(2) {
  width: 15ex;
}

/* hack chat.js divider */
#chatall>table tr.divider,
#chatfaction>table tr.divider,
#chatalerts>table tr.divider {
  border-top: solid 1px #bbb;
}

#chatall>table tr.divider>td,
#chatfaction>table tr.divider>td,
#chatalerts>table tr.divider>td {
  padding-top: 3px;
}

#chatall>table tr.divider summary,
#chatfaction>table tr.divider summary,
#chatalerts>table tr.divider summary {
  box-sizing: border-box;
  padding-left: 2ex;
}
