#PLUGIN_LOG_FILTER>input {
  width: 30%;
  height: 24px;
}

#chat {
  padding-bottom: 24px;
}

#chatall>.status, #chatfaction>.status, #chatalerts>.status {
  height: 20px;
  text-align: center;
  font-style: italic;
}

#chatall>table, #chatfaction>table, #chatalerts>table {
  table-layout: auto;
}

#chatall>table td:nth-child(2),
#chatfaction>table td:nth-child(2),
#chatalerts>table td:nth-child(2) {
  width: 15ex;
}
